:root {

  --clr-blue: #2F80ED;
  --font-sm: .75rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family:'Poppins',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;

}

.container {
  padding-inline: 0rem;
  width: 86%;
  margin-inline: auto;
  position: relative;
}

img {
  max-width: 100%
}


/* *************************************Utility ************************************************ */

.flex {
  display: flex
}

.grid {
  display: grid;
}

.place-items {
  place-items: center;

}

.flex-end {
  justify-content: flex-end;
}


.column {
  flex-direction: column
}

.space-between {
  justify-content: space-between;
}

.flow-1 {
  margin-block-end: 1rem
}

.flow-2 {
  margin-block-end: 2rem
}

.flow-3 {
  margin-block-end: 3rem
}

.col-gap-05 {
  column-gap: .5rem;
}

.col-gap-1 {
  column-gap: 1rem;
}

.col-gap-2 {
  column-gap: 2rem;
}

.align-item-center {
  align-items: center;
}

.bold {
  font-weight: bold;

}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.comment-input ::placeholder {
  padding-inline-start: 3rem;
}

.cover-card ::placeholder {
  padding-inline-start: .2rem;
  font-size: 12px;
}

.comment-input .MuiInputBase-root {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  border-radius: 12px;
}


.member-card input,
.cover-card input {
  /* padding-inline: 0rem ; */
  /* height:.5rem; */
  height: .18rem
}

.add-board-modal input {
  /* width:210; */
  height: 3rem
}


.board-card .MuiAvatarGroup .MuiAvatar-root {
  width: 28px;
  height: 28px;
}

@keyframes bgImageAnim {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

/* src/styles/index.css */
.login::after {
  content: "";
  background: url('./assets/cardsbeat.png') repeat;
  position: absolute;
  right: 7rem;
  top: -0rem;
  width: 30%;
  height: 100%;
  z-index: -2;
  transform: skewY(1deg) rotateZ(-30deg);
  overflow: hidden;
  animation: bgImageAnim 4s 200ms linear;
}

.login::before {
  content: "";
  background: url('./assets/cardsbeat.png') repeat;
  position: absolute;
  left: 6rem;
  width: 30%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  transform: skew(1deg) rotate(30deg);
  animation: bgImageAnim 4s 200ms linear;
}

.login::before:hover {
  width: 30%
}


.buttonlink {
  padding-inline: .6rem;
  padding-block: .2rem;
  min-width: 3rem;
  border-radius: 6px;
  opacity: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.hypen {
  opacity: 0
}


.edit {
  /* border: 1px solid #ADD8E6; */
  color: #2F80ED;
  background-color: rgba(87, 160, 211, .1);
}




.delete {
  /* border: 1px solid rgba(235, 87, 87, .5); */
  background-color: rgba(235, 87, 87, .1);
  color: red;
}

.commentcard:hover .buttonlink,
.commentcard:hover .hypen {
  opacity: 1;
}

.paneldescription{
  font-family: 'Noto Sans';
}
